.form {
  max-width: 40rem;
  margin: 2rem auto;
}

.form input {
  color: var(--color-text-light); 
  background-color: var(--color-secondary-dark); 
  border: 1px solid var(--color-text-muted);
  border-radius: 4px;
}

.form label,
.form input,
.form textarea {
  display: block;
  width: 100%;
}

.form input,
.form textarea {
  font: inherit;
  padding: 0.25rem;
}

.actions {
  display: flex;
  gap: 1rem;
  justify-content: flex-end;
  align-items: center;
}

.actions button {
  font: inherit;
  cursor: pointer;
  padding: 0.5rem 1.5rem;
  border-radius: 4px;
  border: none;
  background-color: unset;
  color: var(--color-text-light);
  transition: all 0.3s ease-in-out;
  font-weight: 600;
}

.actions a {
  color: var(--color-text-light);
  text-decoration: none;
  padding: 0.5rem 0.75rem;
  border-radius: var(--border-radius);
  transition: all 0.3s ease-in-out;
  font-weight: 600;
  display: block;
}

.actions button:hover,
.actions a:hover {
  color: var(--color-accent);
  background-color: var(--color-dark-green);
  box-shadow: 0 0 10px var(--color-accent-glow);
}